.tim {
  --theme-dark: #e84040;
  --theme-light: #FDD8D8;
}

.ben {
  --theme-dark: #346;
  --theme-light: #cde;
}

.b380 {
  --theme-dark: #35393c;
  --theme-med1: #0a70b0;
  --theme-med2: #536069;
}

.psych111 {
  --theme-dark: #25130e;
  --theme-med1: #ae0d0d;
  --theme-med2: #725c5c;
}

.fhgen130 {
  --theme-dark: #45361f;
  --theme-med1: #926011;
  --theme-med2: #b6410d;
}

.cs246 {
  --theme-dark: #494d4f;
  --theme-med1: #0873a1;
  --theme-med2: #57666d;
}


.psych342 {
  --theme-dark: #e84040;
  --theme-light: #FDD8D8;
}


.byui h2.activityBanner {
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  color: #555;
  border: #0076C6 solid;
  border-width: 3px 0;
  position: relative;
  padding: 4px 20px 3px 100px;
  margin: 35px 0 25px;
}

.byui h2.activityBanner::before {
  position: absolute;
  left: 15px;
  top: -15px;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url(https://content.byui.edu/file/599082e0-3e89-4fd9-ac69-2615865d63c7/88/icons.zip/icons/caseStudy.png);
  background-size: cover;
  border-radius: 50%;
  border: solid #0076C6 3px;
}

.byui h2.activityBanner::after {
  content: "BYU-I Learning Model";
  background: none;
  position: absolute;
  right: 20px;
  font-size: .6em;
  margin-top: .5em;
}

.byui h2.activityBanner.themed::before {
  border-color: var(--theme-dark)
}

.byui h2.activityBanner.themed {
  border-color: var(--theme-dark)
}
