.tim {
  --theme-dark: #e84040;
  --theme-light: #FDD8D8;
}

.ben {
  --theme-dark: #346;
  --theme-light: #cde;
}

.b380 {
  --theme-dark: #000;
  --theme-light: #000;
}

.psych111 {
  --theme-dark: #000;
  --theme-light: #000;
}

.fhgen130 {
  --theme-dark: #000;
  --theme-light: #000;
}

.cs246 {
  --theme-dark: #000;
  --theme-light: #000;
}

.psych342 {
  --theme-dark: #e84040;
  --theme-light: #FDD8D8;
}
