.b380 {
  --theme-dark: #346;
  --theme-light: #cde;
}

.psych111 {
  --theme-dark: #e84040;
  --theme-light: #FDD8D8;
}

.fhgen130 {
  --theme-dark: #443328;
  --theme-light: #E3D5CE;
}

.cs246 {
  --theme-dark: #245325;
  --theme-light: #C6E2C6;
}
