<!doctype html>

<html>

<head>
  <title>Page Title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/82d059ca224b79f71841c76bfb9c7b7c/variables-750d72b9d3e5d522f965bf904110c132.css">
  <link type="text/css" rel="stylesheet" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/new_styles_normal_contrast/bundles/common-688b35b63b.css">
  <link type="text/css" rel="stylesheet" href="https://instructure-uploads.s3.amazonaws.com/account_107060000000000001/attachments/144140/byui.css">
  <!--Below is the link to the global css, which may need updated in the future-->
  <link type="text/css" rel="stylesheet" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/no_variables/bundles/wiki_page-46e7e026f6.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link type="text/css" rel="stylesheet" href="/stylesheets/features.css">
  <style>
    .byui {
      --theme-dark: #0076b6;
      --theme-light: #BDE9FF;
    }
  </style>
</head>

<body class="is-inside-submission-frame row" style="min-width: 500px;">
  <div class="byui">
    <h2>Link Text</h2>
    <input type="text" id="link" placeholder="Build Your Link Here">
    <h2>Presets</h2>
    <select>
      <option default disabled></option>
      <option>Qualtrics Survey</option>
      <option>Qualtrics Survey</option>
      <option>Qualtrics Survey</option>
      <option>Qualtrics Survey</option>
      <option>Qualtrics Survey</option>
    </select>
    <h2>Insert A variable</h2>
    <div>
      <a class="Button option" href=# value="fname">First Name</a>
      <a class="Button option" href=# value="lname">Last Name</a>
      <a class="Button option" href=# value="fullName">Full Name</a>
    </div>
      <a class="Button Button--primary" id="return" href="https://byui.instructure.com/courses/142/external_content/success/external_tool_dialog?return_type=lti_launch_url&url=http://test.com">Insert Link</a>
  </div>
  <script>
    /*Logic to plug in variables */
   $('.option').click(function(event){
     var code = event.target.getAttribute("value")
     var link = ($('#link').val());
     $('#link').val(link + "{" + code + "}")
   })
    

  </script>
  <script src="/javascripts/features.js"></script>
</body>

</html>
