<div id="content" class="byui">
  <div id="article">
    <h1>Ben's lesson outline</h1>
    <h2>Lesson overview</h2>
    <p>This is my lesson overview.</p>
    <h2>Main Content</h2>
    <p>This is all of the main instruction. This is all of the main instruction. This is all of the main instruction. </p>
    <p>This is all of the main instruction. This is all of the main instruction. This is all of the main instruction. </p>
    <h2>Assignment Instruction</h2>
    <p>The assignment is completed this way</p>
    <h2>Conclusion</h2>
    <p>This template can be used each week when creating your pages.</p>
  </div>
</div>
